<!DOCTYPE html>
<html lang="en">

<head>
  <title>newsfeed stats</title>
</head>
  
<body>
    <form action="http://localhost:9000/newsfeedservice/newsfeed_service" method="GET">
           <button type="submit">newsfeed  information</button>
    </form>
    
    

</body>
</html>