
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  overflow-x: hidden;
}
body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-image: url("1.jpg");
  background-position: fixed; */
  /* background-color: goldenro; */
  
}
.container {
  height: 100vh;
  container: hidden;
}
.panels {
  width: 200%;
}
.panel {
  float: left;
  width: 50%;
  -webkit-perspective: 400px;
          perspective: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.left-panel,
.right-panel {
  will-change: transform;
  position: relative;
  left: -25%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.left-panel {
  background:#598216;
}
.left-panel:hover .arrow {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.right-panel {
  background:#D9D40C;
}
.right-panel:hover .arrow {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.left-panel-active {
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.left-panel-active .inner-left-panel {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.left-panel-active .arrow {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) !important;
          transform: translate(-50%, -50%) rotate(180deg) !important;
}
.right-panel-active {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.right-panel-active .inner-right-panel {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.right-panel-active .arrow {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) !important;
          transform: translate(-50%, -50%) rotate(180deg) !important;
}
.left-panel-hidden {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.right-panel-hidden {
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.name {
  cursor: pointer;
}
.inner-left-panel,
.inner-right-panel,
.name {
  will-change: transform;
  padding: 0 5vw;
  height: 100vh;
}
.inner-left-panel {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  transition-delay: 0.1s;
  background: url("images/1.jpg") center/cover;
}
.inner-left-panel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fce77d;
  z-index: -1;
  opacity: 0.85;
}
.inner-right-panel {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  transition-delay: 0.1s;
  background: url("images/2.jpg") center/cover;
}
.inner-right-panel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6b911b;
  z-index: -1;
  opacity: 0.85;
}
.title {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #212121;
}
.panels p {
  font-size: 30px;
  margin: 0;
}
@media (max-width: 640px) {
  .panels {
    width: 100%;
    height: 200vh;
  }
  .panel {
    float: none;
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
  }
  .left-panel,
  .right-panel {
    top: -25%;
    left: 0;
  }
  .left-panel:hover .arrow {
    -webkit-transform: translate(-50%, -80%) rotate(90deg);
            transform: translate(-50%, -80%) rotate(90deg);
  }
  .right-panel:hover .arrow {
    -webkit-transform: translate(-50%, -20%) rotate(90deg);
            transform: translate(-50%, -20%) rotate(90deg);
  }
  .left-panel-active {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .left-panel-active .inner-left-panel {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  .left-panel-active .arrow {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) !important;
            transform: translate(-50%, -50%) rotate(-90deg) !important;
  }
  .right-panel-active {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .right-panel-active .inner-right-panel {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  .right-panel-active .arrow {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) !important;
            transform: translate(-50%, -50%) rotate(-90deg) !important;
  }
  .left-panel-hidden {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .right-panel-hidden {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .inner-left-panel,
  .inner-right-panel,
  .name {
    height: 50vh;
    padding: 2vh 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner-left-panel {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  .inner-right-panel {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  .title {
    font-size: 32px;
  }
  .panels p {
    font-size: 20px;
  }
}
.arrow {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #212121;
  border: 3px solid #212121;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
@media (max-width: 640px) {
  .arrow {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .arrow-left {
    top: 25%;
  }
}





#navbar
{
    /* position: fixed; */
    width:auto;
    display:block;
    text-align:center;
    font-family:Oswald;
    line-height:1.2;
    background-color:green;
    
    
    padding: 15px;
    padding-left: 20%; padding-right: 20%;
    font-family: verdana;
    font-weight: 500;
}
#navbar .title {
	float: left;
	font-size: 1.3rem;
}
#navbar .blocks {
	float: right;
}
#navbar a {
	margin-right: 20px;
}
#navbar ul
{
    width:auto;
    display:block;
    font-size:0;
    text-align:center;
    color:#EEEEEE;
    background-color: #333333;
    border: transparent;
    margin:0; 
    padding:0;
    list-style:none;
    position:relative;
    z-index:999999990;
    border-radius: 3px;
} 

#navbar li
{
    display:inline-block;
    position:relative;   
    font-size:0; 
    margin:0;
    padding:0;
}

/*Top level items
---------------------------------------*/
#navbar .top-item 
{
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:14px 20px; 
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px; 
    display:block;   
    position:relative;
    transition:all 0.3s;
}

#navbar li.over .top-item
{  
    color:#333333;
    background-color:#F3F3F3;
}


/*Sub level items
---------------------------------------*/
#navbar .dropdown
{
    text-align:left;
    left:0;
    font-family:Helvetica, Arial, sans-serif;
    color: #333333;
    background-color:#F3F3F3;
    border:none;
    position:absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display:none;
    opacity:0;
    cursor:default;
}

#navbar .dropdown li {
    display: block;  
}

#navbar .sub-item, #navbar .clm a, #navbar .clm h3 
{
    font-size:14px;
    font-weight:400;
    font-family:inherit;
    margin:0;
    padding:8px 20px; 
    display:block;
    color:inherit;
    text-decoration:none;    
}
#navbar .clm h3 {
    font-size:20px;
    font-weight:700;
}
#navbar .sub-item {
    background-color:#F3F3F3;
    position:relative;       
    transition:all 0.3s;
}

#navbar li.over > .sub-item, #navbar li:hover > .sub-item
{
    color:#333333;
    background-color:#DDDDDD;
}

#navbar .clm a:hover
{
    color:#333333;
    transition:color 0.2s;
}

#navbar .dropdown.right0 {left:auto;right:0;} 
#navbar .dropdown li > .dropdown.right0 {left:auto;right:100%;} 
       
#navbar li.full-width{
    position:static;
}
#navbar li.full-width .dropdown{
    width:100%;
    left:0;
    box-sizing:border-box;
}  

#navbar li.over > .dropdown
{
    display:block;
    opacity:1;
    z-index:1;
}

#navbar .dropdown li > .dropdown
{
    left:100%; right:auto;
    top:0;
}

#navbar ul.dropdown
{
    min-width:240px; /* Sub level menu min width */
}

#navbar div.dropdown  {
    text-align:center;
}

/* each column */
#navbar .clm
{
    text-align:left;
    margin:20px;
    vertical-align:top;/*or middle*/
    width:auto;
    min-width:240px;
    display:inline-block;
    *display:inline;*zoom:1;
}

#navbar .clm a:hover
{
    color:#333333;
    text-decoration:underline;
}

/*-----------Arrows----------------*/
#navbar .arrow1 {
    color:inherit;
    border-style:solid; border-width:2px 2px 0 0; padding:4px; transform:rotate(135deg);margin-top:-8.5px;margin-left:4px;
    position:relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    overflow:hidden;/*for IE6*/
}
        
#navbar .dropdown .arrow1,
#navbar.mobile .arrow1 {
    transform:rotate(45deg);
    top:50%;margin-top:-6px;
    position:absolute;left:auto;right:20px;
} 
#navbar.mobile .back-icon {
    margin:2px 10px 2px 4px;
    padding:4px;/*back arrow size*/
    border-width:0 0 2px 2px;/*back arrow thickness*/
    position:static;margin-top:0;
}
#navbar .back {
    display:none;
}
#navbar.mobile .back.show {
    display:block;
    text-align:center;
    margin:0;
    cursor:pointer;
    padding:14px 20px;
    color:#EEEEEE;
    background-color:#333333;
    font-size:22px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;   
}

/*######## styles for mobile mode ########*/

#navbar.mobile  {
    width:100%;
    max-width:400px;
    display:block;
    background-color:#333333;
    border:1px solid rgba(0,0,0,0.2);
    box-sizing:border-box;
}

/*--begin mark1--*/

#navbar.mobile  {
    position:fixed;top:0;bottom:0;left:0;right:0;height:100%!important;
    left:-130%;
    right:auto; box-shadow:-4px 0 18px rgba(0,0,0,0.3);
    transition:all 411ms cubic-bezier(.7, 0,1,.4);
}

#navbar.mobile.active {
    left:0;
    transition:all 411ms cubic-bezier(.16,.76,.45,1);
}

#navbar.mobile {z-index:1000000004;}
.mobile-fixed-bg {background:#000;z-index:1000000000;}
.mobile-fixed-bg.showing {display:block;opacity:0;}.mobile-fixed-bg.active {opacity:0.4;}
.menu-icon.active {position:fixed;top:12px;left:12px;z-index:1000000006;}

/*--end mark1--*/

#navbar.mobile ul  {
    background-color:transparent;
    transition:all 411ms ease;
    box-sizing:border-box;
    border:none;
    border-radius: 0;
}

#navbar.mobile .mobileHide {
    display:none;
}

#navbar.mobile li {
    text-align:center;
}

#navbar.mobile .top-item
{       
    font-size:22px;
}

/* #navbar.mobile li.over > .top-item
{
    color:#EEEEEE;
    background-color:#333333;
} */

#navbar.mobile .dropdown {
    border:none;
    border-radius:0;
    box-shadow:none;
} 
  
#navbar.mobile .clm {
    text-align:center;
    width:100%;
    border:none;
    margin:0;
    padding:0;
    display:block;
}


table {
	text-align: center;
	padding-left: 35px
}
.footer {
	text-align: center;
	background-color: rgba(100, 100, 100, 0.8);
	margin-top: 30px;
	padding: 20px;
}
.footer a {
	font-size: 0.8rem;
	color: rgba(50, 50, 200, 0.9);
}

/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
    padding:4px;
    text-align:left;
}
.menu-icon {
    padding:6px;
    display:none;
    cursor: pointer;
    outline: none;
    background-color:#333333;
    border:1px solid transparent;
    border-radius:3px;
    transition: all 0.25s ease-out;
    user-select:none;
    box-sizing:content-box;
    font-size:0;
    position:relative;
}

.menu-icon.mobile {display:inline-block;}

.menu-icon.active{
    background-color:#333333;
}

.three-line{
  width: 28px;
  height: 18px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.three-line span{
  background-color:#FFFFFF;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width:100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.three-line span:nth-child(1){
  top:0;
}
.three-line span:nth-child(2){
  top:8px;
  visibility:visible;
}
.three-line span:nth-child(3){
  bottom:0;
}

.menu-icon.active .three-line span:nth-child(1){
  transform: rotate(225deg);
  top: 8px;

}
.menu-icon.active .three-line span:nth-child(2){
  transform: rotate(180deg);
  visibility:hidden;
}
.menu-icon.active .three-line span:nth-child(3){
  transform: rotate(315deg);
  top: 8px;
}

@keyframes topItemAnimation {
  from {opacity: 0; transform:translate3d(0, -60px, 0);}
  to {opacity: 1; transform:translate3d(0, 0, 0);}
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
 
  text-align: center;
  font-family: arial;
}


.title1 {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


.btn12 {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  width: 50%;
}

.btn12:hover {opacity: 1}

/* 
slideshow

 */
 
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.table
{
height:100px;
width:100%;

}

.slideshow123
{
 background-color: green;
}



img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:green;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  green;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-image: url("images/1.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container222 {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.logo
{
    float: right;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}
.header-link
{
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
}
.content
{
    min-height: 600px;
}
.banner-image
{padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url("images/1.jpg") no-repeat center;
    background-size: cover;
}
.inner-banner-image
{ padding-top: 12%;
    width:80%;
    margin:auto;
}
.banner-content
{ position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    
}
.buttonmmm
{  color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    width:30%;
    margin:auto;
}
.container
{  width:90%;
    margin:auto;
    overflow:hidden;
}
.items
{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}
.items1
{
    width:22%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}
.items2
{
    width:17%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}


.header111
{
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}
.inner-header111
{
    width:80%;
    margin:auto;
}

.mySlides {display:none;}

.container {
  position: relative;
  width: 350px;
}

.image {
  display: block;
  width: 350px;
  height: 350px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 350px;
  opacity: 0;
  transition: .5s ease;
  background-color: green;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}