<!DOCTYPE html>
<html lang="en">

<head>
  <title>required pesticide service</title>
</head>
  
<body>
    <form action="http://localhost:7000/pesticideservice/pesticide_service" method="GET">
           <button type="submit">required pesticides information</button>
    </form>
    
    

</body>
</html>