<!DOCTYPE html>
<html lang="en">

<head>
  <title>crop available service</title>
</head>
  
<body>
    <form action="http://localhost:3000/cropservice/crop_service" method="GET">
           <button type="submit">get available crops</button>
    </form>
    
    

</body>
</html>